<body>
    <div>Esito : {{esito}}</div>
    <div class="main-block">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <legend>
          <h3>Dettagli Gara</h3>
        </legend>
        <div  class="personal-details">
          <div>
            <div><label>Nome: </label><input type="text" name="nome" formControlName="nome" required></div>
            <div><label>Gara: </label><input type="text" name="gara" formControlName="gara" required></div>
            <div><label>Tempo: </label><input type="text" name="tempo" formControlName="tempo" required></div>
          </div>
        <div>
        </div>
      <button type="submit">Submit</button>
      </div>
    </form>
    </div> 
  </body>