<body>
    <div>Esito : {{esito}}</div>
    <div class="main-block">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <legend>
          <h3>Dettagli Atleta</h3>
        </legend>
        <div  class="personal-details">
          <div>
            <div><label>Nome: </label><input type="text" name="name" formControlName="nome" required></div>
            <div><label>Cognome: </label><input type="text" name="surname" formControlName="cognome" required></div>
          </div>
          <div>
            <div>
              <label>Sesso</label>
              <div class="gender">
                <input type="radio" value="M" id="male" name="gender" formControlName="gender" required/>
                <label for="male" class="radio">Maschio</label>
                <input type="radio" value="F" id="female" name="gender" formControlName="gender" required/>
                <label for="female" class="radio">Femmina</label>
              </div>
            </div>
            <div class="birthdate">
              <label>Data di nascità:</label>
              <div class="bdate-block">
                <select class="day" name="day" formControlName="day" required>
                  <option value=""></option>
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
                <select class="month" name="month" formControlName="month" required>
                  <option value=""></option>
                  <option value="January">Gennaio</option>
                  <option value="February">Febbraio</option>
                  <option value="March">Marzo</option>
                  <option value="April">Aprile</option>
                  <option value="May">Maggio</option>
                  <option value="June">Giugno</option>
                  <option value="July">Luglio</option>
                  <option value="August">Agosto</option>
                  <option value="September">Settembre</option>
                  <option value="October">Ottobre</option>
                  <option value="November">Novembre</option>
                  <option value="December">Dicembre</option>
                </select>
                <input type="text" name="year" formControlName="year" required>
              </div>
            </div>
            </div>
      <button type="submit" >Submit</button>
      </div>
    </form>
    </div> 
  </body>